auditing/
bin/microCI
.ccls-cache
dockerfiles/pikchr/pikchr
docs/diagrams/*.png
.microCI.dbg
.microCI.log
site
src/.cache
src/NOTES.md
src/single_compilation_unit.cpp
test/.env
test/.env.yml
test/failure_test/a.c
.vim-bookmarks
macos/package/usr/local/bin
macos/MicroCI-*.pkg
.DS_Store
dockerfiles/asn1/test/
dockerfiles/mermaid/iperf_udp.pdf
dockerfiles/mermaid/iperf_udp.png
dockerfiles/mermaid/iperf_udp.svg
docs/diagrams/.$microci.drawio.bkp
microci_*.dsc
microci_*.tar.xz
microci_*_amd64.buildinfo
microci_*_amd64.changes
microci_*_amd64.deb
microci-*.x86_64.rpm
test/quick_start_02/hello
test/runtime/cpp_01/prog_c_clang
test/runtime/cpp_01/prog_c_gcc
test/runtime/cpp_01/prog_cpp_clang
test/runtime/cpp_01/prog_cpp_gcc
test/runtime/cpp_01/output.txt
test/snapshot_cmd_new/snapshot-cmd-new-junit.xml
test/snapshot_create_script/snapshot-create-script-junit.xml
test/runtime/runtime-junit.xml
