auditing/
bin/microCI
.ccls-cache
dockerfiles/pikchr/pikchr
docs/diagrams/*.png
.microCI.dbg
.microCI.log
site
src/.cache
src/NOTES.md
src/single_compilation_unit.cpp
test/.env
test/.env.yml
test/failure_test/a.c
.vim-bookmarks
macos/package/usr/local/bin
macos/MicroCI-*.pkg
.DS_Store
