auditing/
docs/diagrams/*.png
bin/microCI
include/argh.h
include/inicpp.h
include/inja.hpp
include/nlohmann/json.hpp
include/sha1.h
.microCI.dbg
.microCI.log
site
src/NOTES.md
src/single_compilation_unit.cpp
xxx/
